.playground{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.ground{
    position: relative;
    
}
.snake-playground{
    position: relative;
    width: 500px;
    height: 500px;
    border: 2px solid black;
}
.snake-part{
    background-color: green;
    position: absolute;
    width: 2.5%;
    height: 2.5%;
    border: 1px solid #fff;
    z-index: 2;
}
.snake-food{
    background-color: tomato;
    position: absolute;
    width: 2.5%;
    height: 2.5%;
    border: 1px solid #fff;
    z-index: 1;
}
.score{
    position: absolute;
    
}
.leaderboard{
    width: 50%;
}